In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('/Users/houhiroshisakai/Desktop/Professor Yang Research/cesd_item_level.csv')
df2 = pd.read_csv('/Users/houhiroshisakai/Desktop/Professor Yang Research/demog.csv')
df3 = pd.read_csv('/Users/houhiroshisakai/Desktop/Professor Yang Research/status_updates_cesd_v2.csv', encoding='ISO-8859-1', on_bad_lines='skip')

/var/folders/n0/ybgqz5zd2cx4wbm8cv8vr3gr0000gn/T/ipykernel_89976/333806247.py:3: DtypeWarning: Columns (2,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df3 = pd.read_csv('/Users/houhiroshisakai/Desktop/Professor Yang Research/status_updates_cesd_v2.csv', encoding='ISO-8859-1', on_bad_lines='skip')

In [14]:
df3['depression_label'].unique()

array(['1', '0', nan,
       'list sign symptom mention various source asperger syndrome include symptom list impaired social interaction clumsiness uncoordinated motor movement limited interest unusual preoccupation repetitive routine ritual speech language peculiarity non verbal communication problem word repetition facial expression apart anger',
       'new year', '800 seconds',
       'duration calculation result include monday march include friday june day start date end date include end date month day exclude end date alternative time unit day can convert one unit second minute hour week round',
       'my cookie my cookie mine waffle trade',
       'merry christmas happy new year my facebook friend enjoy',
       'happy happy new year my facebook friends', 'happy new year',
       'true friend can go long period time without speaking never question friendship pick they speak yesterday regardless long report bless least one friend i bless many friend know',
       'fake perfect perky cold even grandmas big small save me repost breast cancer awareness',
       'put status beautiful daughter daughters world',
       'achoo allergic bull crap drama queen head game liars faced fake people keep sneeze go i can wait see report i scared report',
       'put dog profile show rescue dog',
       'merry christmas happy new year',
       'put status beautiful daughter world',
       'put cat dog wall show animal cruelty',
       'please put dog profile show animal cruelty',
       'women born angel someone break our wing we simply continue fly broomstick warn we flexible keep posting girl',
       'prayers eastern coast us spread wave prayers keep people creatures safe hurricane',
       'put profile rescue dog',
       'think history repeat huge wake call stop dakota astrology com uranus square pluto horoscope my my my my my my my my my my prediction',
       "C Subway is the closest). From there we'll walk together",
       'celebrate international womens day my check cadman plaza park brooklyn high street stop c subway close we walk together across brooklyn bridge city hall park manhattan my pm festival begin city hall park manhattan skip bridge walk join us festival check city hall park my my hide',
       'merry christmas our house happy new year my facebook friend family thank enjoy my my pass',
       'i feel depress i sing i feel sad i laugh i feel ill i double my labour i feel fear i plunge ahead i feel inferior i wear new garment i feel uncertain i raise my voice i feel poverty i think wealth come i feel incompetent i remember past success i feel insignificant i remember my goal go mandingo',
       'noon may okay ang tumult long akin alalahanin mo ang siya habana away beta ang ali ping final ligurian niyay pinata caloocan karen megan karl man kami japan inspiring sunday lesson',
       'women angels someone break our wing we simply continue fly broomstick we flexible',
       'happy new year my my safe',
       'merry christmas pass snow man around let us see far gets',
       'h p p e e r',
       'monster level exp next lv hp my my mp my my atk def sad mag luke wepn worn staff mag armr douche fart robe def mag accs hair tie mag bio mystical moose set upon adventure ailam legendary orbs summons mysterious moose help laru save struggle world ailam',
       'attention fake perfect perky cold even grandmas big small save them repost breast cancer awareness',
       'please post heart prayer balloon family along eastern coast us they get ready hurricane irene god bless keep them safe please stay safe my dear friend',
       'we need school music we sport i wii spanish i watch dora english everything shorten anyway lol brb idk matt we calculator geography ill buy globe history they dead anyway agree',
       'new year my my',
       'first our box facebook allow emoticon status update anymore facebook spoilsport least brighten our wall oh well',
       'fake perfect perky cold shaking my even grandmas big small forget crooked save them repost breast cancer awareness',
       'put doggie profile show animal cruelty',
       'packers wave keep wave going my we go packer we go waving cheesehead we go packers we go my waving cheesehead green bay packers time green bay packers time we go minute ago likeunlike',
       ' Whenever you need me I will be there!',
       'know i love know i care whenever need me i', 'symbol com rule',
       'keep balloon go they find identity little boy find dead maine i baby boy',
       'rip camden pierce hughes'], dtype=object)

In [3]:
df_temp = pd.merge(df1, df2, on='userid', how='outer')
df = pd.merge(df_temp, df3, on='userid', how='outer')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4511410 entries, 0 to 4511409
Data columns (total 46 columns):
 #   Column               Dtype
---  ------               -----
 0   userid               object
 1   date_added           object
 2   time_completed       object
 3   question_order       object
 4   ethnicity            object
 5   marital_status       object
 6   parents_together     object
 7   q1                   float64
 8   q2                   float64
 9   q3                   float64
 10  q4                   float64
 11  q5                   float64
 12  q6                   float64
 13  q7                   float64
 14  q8                   float64
 15  q9                   float64
 16  q10                  float64
 17  q11                  float64
 18  q12                  float64
 19  q13                  float64
 20  q14                  float64
 21  q15                  float64
 22  q16                  float64
 23  q17                  float64
 24  q18                  float64
 25  q19                  float64
 26  q20                  float64
 27  gender               float64
 28  birthday             object
 29  age                  float64
 30  relationship_status  float64
 31  interested_in        float64
 32  mf_relationship      float64
 33  mf_dating            float64
 34  mf_random            float64
 35  mf_friendship        float64
 36  mf_whatever          float64
 37  mf_networking        float64
 38  locale               object
 39  network_size         float64
 40  timezone             float64
 41  message              object
 42  depression_score     object
 43  depression_label     object
 44  message_fmtd         object
 45  afinn_score          object
dtypes: float64(32), object(14)
memory usage: 1.5+ GB

In [5]:
df.isna().sum()

userid                       0
date_added             4277321
time_completed         4277321
question_order         4277321
ethnicity              4289951
marital_status         4294656
parents_together       4288059
q1                     4277321
q2                     4277321
q3                     4277321
q4                     4277321
q5                     4277321
q6                     4277321
q7                     4277321
q8                     4277321
q9                     4277321
q10                    4277321
q11                    4277321
q12                    4277321
q13                    4277321
q14                    4277321
q15                    4277321
q16                    4277321
q17                    4277321
q18                    4277321
q19                    4277321
q20                    4277321
gender                   81333
birthday               2717931
age                    2717931
relationship_status    2435893
interested_in          3248602
mf_relationship        4456067
mf_dating              4461928
mf_random              4496296
mf_friendship          4238422
mf_whatever            4486865
mf_networking          4453366
locale                  396368
network_size           2066606
timezone               1944604
message                4282653
depression_score       4282710
depression_label       4282713
message_fmtd           4285678
afinn_score            4282758
dtype: int64

In [8]:
df['depression_label'].fillna(0, inplace=True)
for i in df.columns:
    if df[i].dtype in ['int64','float64']:
        df[i].fillna(df[i].mean(), inplace=True)

    elif df[i].dtype == 'object':
        df[i].fillna('Other', inplace=True)

In [9]:
df

,userid,date_added,time_completed,question_order,ethnicity,marital_status,parents_together,q1,q2,q3,...,mf_whatever,mf_networking,locale,network_size,timezone,message,depression_score,depression_label,message_fmtd,afinn_score
0,a54988e326d76a28f52a4b82d0efcd5d,2011-02-06 15:18:52,2011-02-06 15:21:07,7\18\4\9\5\15\20\11\1\19\3\6\12\2\10\13\14\8\1...,White-British,Married,I am not 21 years old yet,1.000000,1.000000,1.000000,...,1.0,1.0,en_GB,178.000000,1.000000,still has Reversi skillz,16.0,0,still reversi skill,0.0
1,a54988e326d76a28f52a4b82d0efcd5d,2011-02-06 15:18:52,2011-02-06 15:21:07,7\18\4\9\5\15\20\11\1\19\3\6\12\2\10\13\14\8\1...,White-British,Married,I am not 21 years old yet,1.000000,1.000000,1.000000,...,1.0,1.0,en_GB,178.000000,1.000000,is back in England.,16.0,0,back england,0.0
2,a54988e326d76a28f52a4b82d0efcd5d,2011-02-06 15:18:52,2011-02-06 15:21:07,7\18\4\9\5\15\20\11\1\19\3\6\12\2\10\13\14\8\1...,White-British,Married,I am not 21 years old yet,1.000000,1.000000,1.000000,...,1.0,1.0,en_GB,178.000000,1.000000,has been bafafaed,16.0,0,baffle,0.0
3,a54988e326d76a28f52a4b82d0efcd5d,2011-02-06 15:18:52,2011-02-06 15:21:07,7\18\4\9\5\15\20\11\1\19\3\6\12\2\10\13\14\8\1...,White-British,Married,I am not 21 years old yet,1.000000,1.000000,1.000000,...,1.0,1.0,en_GB,178.000000,1.000000,congrats everyone who purchased RATM. Power to...,16.0,0,congrats everyone purchase ratm power people,2.0
4,a54988e326d76a28f52a4b82d0efcd5d,2011-02-06 15:18:52,2011-02-06 15:21:07,7\18\4\9\5\15\20\11\1\19\3\6\12\2\10\13\14\8\1...,White-British,Married,I am not 21 years old yet,1.000000,1.000000,1.000000,...,1.0,1.0,en_GB,178.000000,1.000000,Gadgets make the train fun :) Also: am in Coli...,16.0,0,gadgets make train fun also colinchester weeke...,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4511405,::: (\_(\ ...*...*...*...*...*...*...*...*...:...,Other,Other,Other,Other,Other,Other,2.152489,2.113089,2.255954,...,1.0,1.0,Other,195.323109,-1.837599,Other,Other,0,Other,Other
4511406,*: (=' :') :: Fsymbols.com rule! :::::::::::::...,Other,Other,Other,Other,Other,Other,2.152489,2.113089,2.255954,...,1.0,1.0,Other,195.323109,-1.837599,Other,Other,0,Other,Other
4511407,".. (,('')('')¤...*...*...*...*...*...*...*...*...",Other,Other,Other,Other,Other,Other,2.152489,2.113089,2.255954,...,1.0,1.0,Other,195.323109,-1.837599,36.0,1,symbol com rule,0.0,Other
4511408,"(¸.""´(¸."" (¸.""´¸¸.""¨¯`"".¸¸.? Keep this balloon...",Other,Other,Other,Other,Other,Other,2.152489,2.113089,2.255954,...,1.0,1.0,Other,195.323109,-1.837599,37.0,1,keep balloon go they find identity little boy ...,-3.0,Other
4511409,"(¸.""´(¸."" (¸.""´¸¸.""¨¯`"".¸¸.? RIP Camden Pierce...",Other,Other,Other,Other,Other,Other,2.152489,2.113089,2.255954,...,1.0,1.0,Other,195.323109,-1.837599,37.0,1,rip camden pierce hughes,0.0,Other

In [10]:
df['date_added'] = df['date_added'].astype(str)
df['time_completed'] = df['time_completed'].astype(str)
df['birthday'] = df['birthday'].astype(str)

#Convert 'Other' to timeFrame
specific_date = '2023-10-26'
specific_date_and_time = '2023-10-26 00:00:00'
df.loc[df['date_added'] == "Other", 'date_added'] = specific_date_and_time
df.loc[df['time_completed'] == "Other", 'time_completed'] = specific_date_and_time
df.loc[df['birthday'] == "Other", 'birthday'] = specific_date

# Convert type of datetime
df['date_added'] = pd.to_datetime(df['date_added'], errors='coerce')
df['time_completed'] = pd.to_datetime(df['time_completed'], errors='coerce')
df['birthday'] = pd.to_datetime(df['birthday'], errors='coerce')

In [11]:
df['birthday']

0         1985-10-10
1         1985-10-10
2         1985-10-10
3         1985-10-10
4         1985-10-10
             ...
4511405   2023-10-26
4511406   2023-10-26
4511407   2023-10-26
4511408   2023-10-26
4511409   2023-10-26
Name: birthday, Length: 4511410, dtype: datetime64[ns]

In [13]:
df

,userid,date_added,time_completed,question_order,ethnicity,marital_status,parents_together,q1,q2,q3,...,mf_whatever,mf_networking,locale,network_size,timezone,message,depression_score,depression_label,message_fmtd,afinn_score
0,a54988e326d76a28f52a4b82d0efcd5d,2011-02-06 15:18:52,2011-02-06 15:21:07,7\18\4\9\5\15\20\11\1\19\3\6\12\2\10\13\14\8\1...,White-British,Married,I am not 21 years old yet,1.000000,1.000000,1.000000,...,1.0,1.0,en_GB,178.000000,1.000000,still has Reversi skillz,16.0,0,still reversi skill,0.0
1,a54988e326d76a28f52a4b82d0efcd5d,2011-02-06 15:18:52,2011-02-06 15:21:07,7\18\4\9\5\15\20\11\1\19\3\6\12\2\10\13\14\8\1...,White-British,Married,I am not 21 years old yet,1.000000,1.000000,1.000000,...,1.0,1.0,en_GB,178.000000,1.000000,is back in England.,16.0,0,back england,0.0
2,a54988e326d76a28f52a4b82d0efcd5d,2011-02-06 15:18:52,2011-02-06 15:21:07,7\18\4\9\5\15\20\11\1\19\3\6\12\2\10\13\14\8\1...,White-British,Married,I am not 21 years old yet,1.000000,1.000000,1.000000,...,1.0,1.0,en_GB,178.000000,1.000000,has been bafafaed,16.0,0,baffle,0.0
3,a54988e326d76a28f52a4b82d0efcd5d,2011-02-06 15:18:52,2011-02-06 15:21:07,7\18\4\9\5\15\20\11\1\19\3\6\12\2\10\13\14\8\1...,White-British,Married,I am not 21 years old yet,1.000000,1.000000,1.000000,...,1.0,1.0,en_GB,178.000000,1.000000,congrats everyone who purchased RATM. Power to...,16.0,0,congrats everyone purchase ratm power people,2.0
4,a54988e326d76a28f52a4b82d0efcd5d,2011-02-06 15:18:52,2011-02-06 15:21:07,7\18\4\9\5\15\20\11\1\19\3\6\12\2\10\13\14\8\1...,White-British,Married,I am not 21 years old yet,1.000000,1.000000,1.000000,...,1.0,1.0,en_GB,178.000000,1.000000,Gadgets make the train fun :) Also: am in Coli...,16.0,0,gadgets make train fun also colinchester weeke...,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4511405,::: (\_(\ ...*...*...*...*...*...*...*...*...:...,2023-10-26 00:00:00,2023-10-26 00:00:00,Other,Other,Other,Other,2.152489,2.113089,2.255954,...,1.0,1.0,Other,195.323109,-1.837599,Other,Other,0,Other,Other
4511406,*: (=' :') :: Fsymbols.com rule! :::::::::::::...,2023-10-26 00:00:00,2023-10-26 00:00:00,Other,Other,Other,Other,2.152489,2.113089,2.255954,...,1.0,1.0,Other,195.323109,-1.837599,Other,Other,0,Other,Other
4511407,".. (,('')('')¤...*...*...*...*...*...*...*...*...",2023-10-26 00:00:00,2023-10-26 00:00:00,Other,Other,Other,Other,2.152489,2.113089,2.255954,...,1.0,1.0,Other,195.323109,-1.837599,36.0,1,symbol com rule,0.0,Other
4511408,"(¸.""´(¸."" (¸.""´¸¸.""¨¯`"".¸¸.? Keep this balloon...",2023-10-26 00:00:00,2023-10-26 00:00:00,Other,Other,Other,Other,2.152489,2.113089,2.255954,...,1.0,1.0,Other,195.323109,-1.837599,37.0,1,keep balloon go they find identity little boy ...,-3.0,Other
4511409,"(¸.""´(¸."" (¸.""´¸¸.""¨¯`"".¸¸.? RIP Camden Pierce...",2023-10-26 00:00:00,2023-10-26 00:00:00,Other,Other,Other,Other,2.152489,2.113089,2.255954,...,1.0,1.0,Other,195.323109,-1.837599,37.0,1,rip camden pierce hughes,0.0,Other